{{ extends layout="layouts.default" }}

{{ section:main_content }}
<div class="article">
    <h1 class="title">Understanding the Future of Technology</h1>
    <div class="meta">
        <span class="author">By Jane Doe</span> |
        <span class="date">{{ now | format: "F j, Y" }}</span>
    </div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet ullamcorper leo, at scelerisque
            nunc bibendum non. Nulla facilisi.</p>
        <p>Integer quis justo malesuada, aliquam sapien eget, venenatis libero. Ut cursus convallis auctor.</p>
        <img src="/path/to/article-image.jpg" alt="Article Image">
        <p>Donec facilisis mollis odio nec ultricies. Proin vitae consequat elit, sit amet varius odio.</p>
    </div>
</div>
{{ /section:main_content }}
