/* Categories Map */
$categories: (
  "danas": (color: #D90000, background: #FFE5E5),
  "izbori_2024": (color: #A30000, background: #FFECEC),
  "sport": (color: #0059B2, background: #E5F0FF),
  "hot": (color: #B74497, background: #FFE5F2),
  "magazin": (color: #719427, background: #F0FFE5),
  "webcafe": (color: #DBA418, background: #FFF7E5),
  "video": (color: #D90000, background: #FFE5E5),
  "zena": (color: #BF2175, background: #FFE5F2),
  "kultura": (color: #FFA500, background: #FFF5E5)
);

/* Base Variables */
:root {
  /* Colors */
  --primary-color: #333;
  --secondary-color: #222;
  --text-color: #fff;

  /* Font Sizes */
  --font-size-base: 1rem;
  --font-size-large: 1.25rem;
  --font-size-small: 0.875rem;

  /* Container Widths */
  --container-width: 90%;
  --container-max-width: 1200px;

  /* New Article-Specific Variables */
  --article-text-color: #333;
  --article-bg-color: #f9f9f9;
  --article-title-color: #222;
  --article-meta-color: #666;

  /* Category Colors */
  --category-bg-color: #fafafa;
  --category-title-color: #222;
  --category-description-color: #666;

  /* Term-Specific Colors */
  --term-bg-color: #f5f5f5;
  --term-title-color: #333;
  --term-article-link-color: #0059B2;

  /* Typography & Spacing */
  --category-title-size: 1.75rem;
  --term-title-size: 1.5rem;
  --term-spacing: 1.5rem;


/* Generate CSS Variables for Each Category */
  @each $name, $props in $categories {
    --color-#{$name}: map.get($props, color);
    --background-#{$name}: map.get($props, background);
  }
}
