<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {{ vite src="resources/js/site.js|resources/scss/main.scss" }}
</head>

<body>
    {{ partial:header }}

    <main class="main-container">
        <div class="main-content">
            {{# {{ main_content }} #}}
            {{ yield:main_content }}
        </div>

        <aside class="sidebar">
            <section class="sidebar-section">
                <h3>Recent Articles</h3>
                {{ recent_articles }}
            </section>
            <section class="sidebar-section">
                <h3>Categories</h3>
                {{ categories }}
            </section>
        </aside>
    </main>

    {{ partial:footer }}
</body>

</html>
